body{
    padding: 0;
    margin: 0;
}
nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.cart-icon {
    font-size: 33px;
    border: 1px solid #dfdfdf;
    padding: 2px 12px;
    cursor: pointer;
}
.cart-count {
    border: 1px solid #dfdfdf;
    padding: 8px;
    font-size: 18px;
    text-transform: capitalize;
    font-family: sans-serif;
}
.product {
    margin-top: 5%;
}
#container-main-row {
    justify-content: center;
    gap: 20px;
}
.product-img {
    width: 100%;
}
.product-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}
.product-name {
    font-size: 20px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 200;
}
.product-price {
    font-size: 20px;
    font-family: cursive;
}
.cart-btn {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    width: 50%;
    margin: 0 auto;
    border: 1px solid #dfdfdf;
    background-color: #cdcdcd;
    padding: 6px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: system-ui;
}



/* Cart */
.cart-table {
    margin-top: 5%;
}
.product-table {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}
thead tr {
    /* margin-bottom: 11px; */
    font-weight: 600;
    font-size: 16px;
    font-family: sans-serif;
    height: 50px;
    border-bottom: 1px solid #dfdfdf;
}
tbody tr {
    padding-top: 9px;
}
.cart-img {
    width: 100px;
    height: 100px;
}
.name {
    font-size: 19px;
    font-weight: 400;
    font-family: sans-serif;
}
.price {
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 400;
}
.qty {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
.decnum,
.incnum {
    font-size: 25px;
    border: 1px solid #979393;
    border-radius: 4px;
    cursor: pointer;
}
/* .num {
    font-size: 17px;
    padding: 0px 10px;
    border: 1px solid #979393;
    border-radius: 4px;
} */
.input-filed {
    width: 15%;
    text-align: center;
    outline: 0;
    border: 1px solid #dfdfdf;
    font-size: 18px;
    padding: 2px;
    font-family: sans-serif;
}
.subtotal {
    font-size: 17px;
    font-family: sans-serif;
}
.remove-btn {
    font-size: 27px;
    /* padding: 5px; */
    cursor: pointer;
}

.container-total {
    width: 70%;
    margin: 0 auto;
    border-top: 1px solid #dfdfdf;
    margin-top: 13px;
}
.discount,
.delivery,
.total {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0;
}
.total-bx {
    width: 30%;
    float: right;
}
.dis-details,
.del-details,
.total-detail {
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 400;
    font-family: sans-serif;
}
.discount-amount,
.delivery-amount,
.total-amount {
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 600;
}

.checkout {
    border: 1px solid #dfdfdf;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in;
}

.checkout:hover{
    background-color: blueviolet;
    color: #fff;
}
.clear-cart {
    border: 1px solid #dfdfdf;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in;
}

.clear-cart:hover{
    background-color: red;
    color: #fff;
}




